.footer {
  position: relative;
  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: 200ms ease-in-out;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
