@use '../../../../styles/colors.scss' as c;
@use 'sass:color';

.button {
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  border-radius: 0rem;
  cursor: pointer;
  color: white;
  background-color: color.adjust(c.$color-gradient-silver, $lightness: -5%);
  transition: 200ms ease-in;
  &:hover {
    outline-offset: -2px;
  }
}
