@use '../../../../styles/colors.scss' as c;

.button {
  border: 1.5px solid currentColor;
  outline: 1.5px solid c.$color-vine;
  outline-offset: 2px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  backdrop-filter: blur(5px);
  border-radius: 0;
  cursor: pointer;
  color: inherit;
  background-color: transparentize(c.$color-lime, 0.5);
}
