$color-black: #323232;
$color-white: #f2f2f2;
$color-green: #8dc5a8;
$color-blue: #0058ad;
$color-red: #e61937;

$color-gradient-gray: #c0cece;
$color-gradient-silver: #698989;
$color-gradient: radial-gradient(
  circle,
  $color-gradient-gray 0%,
  $color-gradient-silver 100%
);
