* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto !important;
  }
  * {
    animation-duration: 0ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0ms !important;
  }
}

:root {
  --color-red: #ef476f;
  --color-yellow: #ffd166;
  --color-green: #06d6a0;
  --color-blue: #118ab2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    'Azeret Mono',
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('/fonts/AzeretMono.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('/fonts/AzeretMono-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}

.link {
  color: black;
  text-transform: uppercase;
}
