.nav {
  width: 60px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
  text-orientation: mixed;
  background-color: black;
  z-index: 1;
  button,
  a {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 200ms ease-in-out;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    touch-action: manipulation;
    &:hover,
    &:focus {
      color: var(--color-blue);
      outline: none;
    }
    > span {
      position: absolute;
      top: 0;
      right: 15px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--color-red);
    }
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 20px;
    height: 500px;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    pointer-events: none;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 60px;
    height: 20px;
    background-color: black;
    clip-path: polygon(100% 100%, 0 0, 100% 0);
    pointer-events: none;
  }
}

@media (max-width: 600px) {
  .nav {
    width: 40px;
    button,
    a {
      > span {
        top: 0;
        right: 3px;
      }
    }
    &::before {
      width: 40px;
    }
  }
}
