@use '../../styles/colors.scss' as c;

.image {
  width: 100%;
  max-width: 320px;
  object-fit: cover;
  background: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 10px,
    c.$color-green 10px,
    c.$color-green 14px,
    transparent 14px,
    transparent 24px
  );
  border: 2px solid c.$color-green;
  outline: 2px solid c.$color-green;
  outline-offset: 2px;
  margin-top: 8px;
}
