@use '../../styles/colors.scss' as c;

.card {
  position: relative;
  text-align: center;
  border: 2px solid c.$color-green;
  outline: 2px solid c.$color-green;
  outline-offset: 2px;
  padding-bottom: 0.5rem;
}

.wishlist {
  position: absolute;
  color: c.$color-black;
  top: -2px;
  right: -2px;
  cursor: pointer;
  touch-action: manipulation;
  background-color: c.$color-white;
  border: 2px solid c.$color-green;
  aspect-ratio: 1;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}

.link {
  text-transform: none;
  text-decoration: none;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 1;
  background: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 5px,
    c.$color-green 5px,
    c.$color-green 10px,
    transparent 10px,
    transparent 15px
  );
}

.title {
  padding-top: 0.5rem;
  border-top: 2px solid c.$color-green;
  font-size: inherit;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 500;
}
