.selectWrapper {
  margin-top: auto;
  position: relative;
  width: 100%;
}

.select {
  appearance: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #06362d;
  font-family: inherit;
  background-color: transparent;
  backdrop-filter: blur(1px);
  color: #06362d;
  width: 100%;
  padding: 0.5rem;
  padding-right: 2rem;
  font-size: inherit;
  cursor: pointer;
  border-radius: 0;
}

.icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #155332;
}
