.card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.wishlist {
  position: absolute;
  color: #06362d;
  background-color: transparent;
  border: none;
  top: 0;
  right: 0;
  cursor: pointer;
  touch-action: manipulation;
}

.link {
  text-transform: none;
  text-decoration: none;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 1;
}

.title {
  font-size: inherit;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 500;
}
