.section {
  width: 100%;
  padding-block: 4rem;
}
.content {
  max-width: 800px;
  padding-inline: 1rem;
  margin: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 600px) {
  .section {
    padding-block: 3rem;
  }
  .content {
    text-align: left;
  }
}
