.section {
  width: 100%;
  padding-block: 4rem;
  &:first-of-type {
    padding-top: calc(2rem + 60px);
  }
}
.content {
  max-width: 800px;
  padding-inline: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 600px) {
  .section {
    padding-block: 3rem;
  }
}
