@use '../../../../styles/colors.scss' as c;

.banner {
  background-color: c.$color-black;
  outline: 2px solid c.$color-black;
  outline-offset: 2px;
  color: c.$color-white;
  width: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
  }
  svg {
    animation: bounce 1s infinite ease-in-out;
    transform: translateY(2px);
  }
  @for $i from 1 through 10 {
    svg:nth-of-type(#{$i}) {
      animation-delay: ($i - 1) * 0.25s;
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}

@media (max-width: 600px) {
  .banner {
    padding: 0.5rem;
  }
}
