@use '../../../../styles/colors.scss' as c;

.banner {
  background-color: c.$color-green;
  outline: 2px solid c.$color-green;
  outline-offset: 2px;
  width: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
  }
}

@media (max-width: 600px) {
  .banner {
    padding: 0.5rem;
  }
}
