.header {
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(5px);
  transition: 200ms ease-in-out;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
  span {
    position: absolute;
    top: 0;
    right: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cc8b65;
  }
}
.scrolled {
  color: black;
  background: rgba(255, 255, 255, 0.75);
}

.title {
  font-size: 3rem;
  font-weight: 900;
  text-decoration: none;
  transition: 200ms ease-in-out;
  font-family: 'Instrument Serif';
}
.navigation {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.icon {
  position: relative;
}

@media (max-width: 600px) {
  .header {
    padding: 1rem calc(40px + 1rem) 1rem 1rem;
    font-size: 2rem;
  }
}
