@use '../../../../styles/colors.scss' as c;

.header {
  padding-inline: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: 200ms ease-in-out;
  background: transparent;
  height: 60px;
  span {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
  }
}
.scrolled {
  background: c.$color-white;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -2px;
  text-decoration: none;
  font-family: 'Instrument Serif';
}
.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.icon {
  position: relative;
}

.search {
  width: 100%;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid c.$color-green;
  outline: 2px solid c.$color-green;
  outline-offset: 2px;
  font-size: 16px;
  background-color: white;
  color: c.$color-black;
  padding: 5px;
}
.searchResults {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 60px;
  width: 100%;
  height: calc(100svh - 60px);
  max-width: 800px;
  transform: translate(-50%);
  padding: 1rem;
}

@media (max-width: 600px) {
  .header {
    padding-inline: 1rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .navigation {
    gap: 0.5rem;
  }
}
