.section {
  width: 100%;
  padding-block: 6rem;
}
.content {
  max-width: 800px;
  padding-inline: 1rem;
  margin: auto;
  text-align: justify;
}

@media (max-width: 600px) {
  .main {
    align-items: flex-start;
    gap: 1rem;
  }
}
