@use '../../styles/colors.scss' as c;
@use 'sass:color';

.filters {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  background-color: color.adjust(c.$color-gradient-silver, $lightness: -5%);
}

.show {
  display: flex;
}

@media (min-width: 640px) {
  .filters {
    display: flex;
  }
}
