@use '../../styles/colors.scss' as c;
@use 'sass:color';

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid color.adjust(c.$color-gradient-silver, $lightness: -5%);
  gap: 2px;
  background-color: color.adjust(c.$color-gradient-silver, $lightness: -5%);
}
